In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

pd.set_option('max_columns', None)

In [2]:
df = pd.read_csv('datasets/detaset1.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 877986 entries, 0 to 877985
Data columns (total 47 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   delinquent_accounts       877986 non-null  int64
 1   borrower_state            877986 non-null  object
 2   annual_income             877986 non-null  float64
 3   marital_status            877986 non-null  object
 4   default_12months          877986 non-null  int64
 5   collection_fee            877986 non-null  float64
 6   collections_12months      877986 non-null  int64
 7   delinquent_2years         877986 non-null  int64
 8   delinquent_amount         877986 non-null  int64
 9   loan_description          0 non-null       float64
 10  employment_length         817901 non-null  object
 11  employment_title          817147 non-null  object
 12  fico_range_high           877986 non-null  int64
 13  fico_range_low            877986 non-null  int64
 14  loan_amount               877986 non-null  int64
 15  home_ownership            877986 non-null  object
 16  inquiries_finance         877925 non-null  float64
 17  inquiries_credit_6months  877985 non-null  float64
 18  loan_monthly_payment      877986 non-null  float64
 19  loan_interest_rate        877986 non-null  float64
 20  loan_issue_date           877986 non-null  object
 21  loan_status               877986 non-null  object
 22  fi_mortgage_account       877986 non-null  int64
 23  fi_late_account           877986 non-null  int64
 24  fi_active_debit_account   877986 non-null  int64
 25  fi_total_debit_account    877986 non-null  int64
 26  fi_active_credit_account  877986 non-null  int64
 27  fi_total_credit_account   877986 non-null  int64
 28  fi_active_all_account     877986 non-null  int64
 29  loan_remaining_principal  877986 non-null  float64
 30  derogatory_record         877986 non-null  int64
 31  bankruptcy_record         877986 non-null  int64
 32  loan_category             877986 non-null  object
 33  loan_recovery             877986 non-null  float64
 34  tax_lien_record           877986 non-null  int64
 35  loan_term                 877986 non-null  object
 36  loan_title                854813 non-null  object
 37  collection_total_amount   877986 non-null  int64
 38  fi_total_all_account      877986 non-null  int64
 39  loan_total_payment        877986 non-null  float64
 40  loan_interest_to_date     877986 non-null  float64
 41  loan_late_fee_to_date     877986 non-null  float64
 42  loan_principal_to_date    877986 non-null  float64
 43  annual_income_verified    877986 non-null  object
 44  borrower_zipcode          877985 non-null  object
 45  gender                    877986 non-null  int64
 46  age                       877986 non-null  float64
dtypes: float64(14), int64(21), object(12)
memory usage: 314.8+ MB

In [4]:
df.shape

(877986, 47)

In [5]:
df.head(10)

,delinquent_accounts,borrower_state,annual_income,marital_status,default_12months,collection_fee,collections_12months,delinquent_2years,delinquent_amount,loan_description,employment_length,employment_title,fico_range_high,fico_range_low,loan_amount,home_ownership,inquiries_finance,inquiries_credit_6months,loan_monthly_payment,loan_interest_rate,loan_issue_date,loan_status,fi_mortgage_account,fi_late_account,fi_active_debit_account,fi_total_debit_account,fi_active_credit_account,fi_total_credit_account,fi_active_all_account,loan_remaining_principal,derogatory_record,bankruptcy_record,loan_category,loan_recovery,tax_lien_record,loan_term,loan_title,collection_total_amount,fi_total_all_account,loan_total_payment,loan_interest_to_date,loan_late_fee_to_date,loan_principal_to_date,annual_income_verified,borrower_zipcode,gender,age
0,0,CA,42000.0,Single,0,0.0,0,0,0,NaN,10+ years,associate,719,715,12000,OWN,1.0,0.0,375.88,7.97,2018-9-22,Current,0,0,2,2,7,9,9,6688.31,1,1,debt_consolidation,0.0,0,36 months,Debt consolidation,0,16,6397.930000,1086.24,0.0,5311.69,Source Verified,923xx,1,48.0
1,0,VA,79077.0,Single,0,0.0,0,0,0,NaN,5 years,Senior Investigator,704,700,16000,RENT,0.0,0.0,501.17,7.97,2018-9-18,Current,0,2,2,2,11,11,12,8917.81,0,0,debt_consolidation,0.0,0,36 months,Debt consolidation,0,20,8511.190000,1429.00,0.0,7082.19,Not Verified,223xx,1,45.0
2,0,TX,107000.0,Married,0,0.0,0,0,0,NaN,< 1 year,Registered Nurse,789,785,33000,MORTGAGE,0.0,0.0,1022.12,7.21,2018-9-19,Current,2,0,4,19,22,38,25,17388.63,0,0,debt_consolidation,0.0,0,36 months,Debt consolidation,0,52,18371.720000,2760.35,0.0,15611.37,Verified,750xx,2,50.0
3,0,NJ,155000.0,Single,0,0.0,0,2,0,NaN,10+ years,Nurse,719,715,32000,MORTGAGE,0.0,1.0,1062.71,11.99,2018-9-8,Current,3,0,7,27,18,36,20,17427.75,0,0,credit_card,0.0,0,36 months,Credit card refinancing,0,42,19086.150000,4513.90,0.0,14572.25,Source Verified,080xx,1,56.0
4,0,TX,120000.0,Single,0,0.0,0,0,0,NaN,9 years,Driver,769,765,40000,MORTGAGE,2.0,0.0,952.65,15.05,2018-9-25,Current,4,0,4,8,7,13,12,30956.21,0,0,debt_consolidation,0.0,0,60 months,Debt consolidation,0,26,17080.810000,8037.02,0.0,9043.79,Verified,778xx,1,59.0
5,0,IL,32000.0,Single,0,0.0,0,0,0,NaN,10+ years,CSM,714,710,7000,RENT,3.0,1.0,219.26,7.97,2018-9-20,Current,0,0,3,6,13,18,13,3433.56,1,1,debt_consolidation,0.0,0,36 months,Debt consolidation,0,20,4190.480000,624.04,0.0,3566.44,Source Verified,604xx,1,47.0
6,0,NY,85000.0,Single,0,0.0,0,0,0,NaN,10+ years,Supervisor,684,680,35000,MORTGAGE,0.0,0.0,789.57,12.62,2018-9-19,Paid,2,0,4,6,5,8,7,0.00,1,1,house,0.0,0,60 months,Home buying,0,17,39723.460669,4723.46,0.0,35000.00,Source Verified,112xx,1,46.0
7,0,FL,90000.0,Single,0,0.0,0,3,0,NaN,10+ years,Owner/Design Engineer,699,695,15000,MORTGAGE,2.0,1.0,357.25,15.05,2018-9-4,Current,1,10,4,6,5,9,12,11818.59,0,0,home_improvement,0.0,0,60 months,Home improvement,0,32,6122.580000,2941.17,0.0,3181.41,Not Verified,335xx,2,58.0
8,0,FL,216000.0,Single,0,0.0,0,0,0,NaN,1 year,Director Product Marketing,729,725,22400,MORTGAGE,1.0,1.0,544.97,16.02,2018-9-7,Current,1,0,4,13,7,20,13,17744.37,0,0,debt_consolidation,0.0,0,60 months,Debt consolidation,0,34,9224.620000,4568.99,0.0,4655.63,Source Verified,334xx,2,48.0
9,0,KY,10000.0,Married,0,0.0,0,0,0,NaN,1 year,Teller,709,705,10000,RENT,0.0,3.0,346.90,15.05,2018-9-25,Paid,0,0,10,13,13,16,13,0.00,0,0,debt_consolidation,0.0,0,36 months,Debt consolidation,0,16,10682.292600,682.29,0.0,10000.00,Verified,412xx,2,50.0

In [6]:
df['loan_status'].value_counts()

Current    395912
Paid       355005
Default    127069
Name: loan_status, dtype: int64

In [7]:
df[['loan_total_payment','loan_late_fee_to_date','loan_remaining_principal','collection_fee','loan_amount']]

,loan_total_payment,loan_late_fee_to_date,loan_remaining_principal,collection_fee,loan_amount
0,6397.93,0.00,6688.31,0.0,12000
1,8511.19,0.00,8917.81,0.0,16000
2,18371.72,0.00,17388.63,0.0,33000
3,19086.15,0.00,17427.75,0.0,32000
4,17080.81,0.00,30956.21,0.0,40000
...,...,...,...,...,...
877981,15760.50,0.00,14287.39,0.0,24000
877982,15008.53,0.00,13951.42,0.0,24000
877983,24903.93,0.00,23252.59,0.0,40000
877984,6755.40,0.00,0.00,0.0,24000
877985,9621.25,49.41,8456.12,0.0,14000

In [8]:
df['default_12months'].value_counts()

0    870928
1      6513
2       405
3        83
4        34
5        11
6         4
9         3
7         3
8         2
Name: default_12months, dtype: int64

In [9]:
df = df.drop(columns = 'loan_description')

In [10]:
df = df.dropna()

In [11]:
df = df.reset_index(drop = True)

In [12]:
df

,delinquent_accounts,borrower_state,annual_income,marital_status,default_12months,collection_fee,collections_12months,delinquent_2years,delinquent_amount,employment_length,employment_title,fico_range_high,fico_range_low,loan_amount,home_ownership,inquiries_finance,inquiries_credit_6months,loan_monthly_payment,loan_interest_rate,loan_issue_date,loan_status,fi_mortgage_account,fi_late_account,fi_active_debit_account,fi_total_debit_account,fi_active_credit_account,fi_total_credit_account,fi_active_all_account,loan_remaining_principal,derogatory_record,bankruptcy_record,loan_category,loan_recovery,tax_lien_record,loan_term,loan_title,collection_total_amount,fi_total_all_account,loan_total_payment,loan_interest_to_date,loan_late_fee_to_date,loan_principal_to_date,annual_income_verified,borrower_zipcode,gender,age
0,0,CA,42000.0,Single,0,0.0,0,0,0,10+ years,associate,719,715,12000,OWN,1.0,0.0,375.88,7.97,2018-9-22,Current,0,0,2,2,7,9,9,6688.31,1,1,debt_consolidation,0.0,0,36 months,Debt consolidation,0,16,6397.930000,1086.24,0.0,5311.69,Source Verified,923xx,1,48.0
1,0,VA,79077.0,Single,0,0.0,0,0,0,5 years,Senior Investigator,704,700,16000,RENT,0.0,0.0,501.17,7.97,2018-9-18,Current,0,2,2,2,11,11,12,8917.81,0,0,debt_consolidation,0.0,0,36 months,Debt consolidation,0,20,8511.190000,1429.00,0.0,7082.19,Not Verified,223xx,1,45.0
2,0,TX,107000.0,Married,0,0.0,0,0,0,< 1 year,Registered Nurse,789,785,33000,MORTGAGE,0.0,0.0,1022.12,7.21,2018-9-19,Current,2,0,4,19,22,38,25,17388.63,0,0,debt_consolidation,0.0,0,36 months,Debt consolidation,0,52,18371.720000,2760.35,0.0,15611.37,Verified,750xx,2,50.0
3,0,NJ,155000.0,Single,0,0.0,0,2,0,10+ years,Nurse,719,715,32000,MORTGAGE,0.0,1.0,1062.71,11.99,2018-9-8,Current,3,0,7,27,18,36,20,17427.75,0,0,credit_card,0.0,0,36 months,Credit card refinancing,0,42,19086.150000,4513.90,0.0,14572.25,Source Verified,080xx,1,56.0
4,0,TX,120000.0,Single,0,0.0,0,0,0,9 years,Driver,769,765,40000,MORTGAGE,2.0,0.0,952.65,15.05,2018-9-25,Current,4,0,4,8,7,13,12,30956.21,0,0,debt_consolidation,0.0,0,60 months,Debt consolidation,0,26,17080.810000,8037.02,0.0,9043.79,Verified,778xx,1,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796754,0,NC,150000.0,Single,0,0.0,0,0,0,10+ years,Manager,669,665,16000,RENT,1.0,0.0,362.34,12.79,2017-10-14,Paid,0,1,3,5,6,11,12,0.00,4,3,medical,0.0,0,60 months,Medical expenses,0,28,18660.607569,2660.61,0.0,16000.00,Not Verified,284xx,2,59.0
796755,0,HI,125000.0,Single,0,0.0,0,0,0,4 years,Current Operations Officer,729,725,24000,OWN,0.0,0.0,515.74,10.49,2017-10-1,Current,0,0,6,14,14,21,15,13951.43,2,0,credit_card,0.0,2,60 months,Credit card refinancing,0,22,14977.430000,4928.86,0.0,10048.57,Not Verified,967xx,2,53.0
796756,0,AL,95000.0,Single,0,0.0,0,0,0,7 years,Unit Operator,669,665,24000,MORTGAGE,1.0,0.0,543.50,12.79,2017-10-31,Current,0,0,0,3,3,11,5,14287.39,0,0,home_improvement,0.0,0,60 months,Home improvement,0,54,15760.500000,6047.89,0.0,9712.61,Source Verified,356xx,1,43.0
796757,0,UT,108000.0,Single,0,0.0,0,0,0,10+ years,Database Administrator,699,695,24000,MORTGAGE,1.0,1.0,515.74,10.49,2017-10-26,Current,4,12,5,18,19,37,24,13951.42,1,0,debt_consolidation,0.0,1,60 months,Debt consolidation,0,58,15008.530000,4959.95,0.0,10048.58,Not Verified,840xx,2,51.0
796758,0,FL,110000.0,Single,0,0.0,0,0,0,6 years,Program Manager,664,660,24000,RENT,0.0,0.0,564.56,14.49,2017-10-8,Default,2,1,5,15,8,24,10,0.00,1,1,debt_consolidation,0.0,0,60 months,Debt consolidation,0,31,6755.400000,3233.49,0.0,3521.91,Not Verified,334xx,2,35.0

In [13]:
df2 = pd.read_csv('datasets/dataset2.csv')

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495242 entries, 0 to 495241
Data columns (total 39 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   loanID                    495242 non-null  int64
 1   delinquent_accounts       495242 non-null  int64
 2   borrower_state            495242 non-null  object
 3   annual_income             495242 non-null  float64
 4   marital_status            495242 non-null  object
 5   default_12months          495242 non-null  int64
 6   collections_12months      495242 non-null  int64
 7   delinquent_2years         495242 non-null  int64
 8   delinquent_amount         495242 non-null  int64
 9   loan_description          0 non-null       float64
 10  employment_length         453255 non-null  object
 11  employment_title          440581 non-null  object
 12  fico_range_high           495242 non-null  int64
 13  fico_range_low            495242 non-null  int64
 14  loan_amount               495242 non-null  int64
 15  home_ownership            495242 non-null  object
 16  inquiries_finance         495242 non-null  int64
 17  inquiries_credit_6months  495242 non-null  int64
 18  loan_monthly_payment      495242 non-null  float64
 19  loan_interest_rate        495242 non-null  float64
 20  fi_mortgage_account       495242 non-null  int64
 21  fi_late_account           495242 non-null  int64
 22  fi_active_debit_account   495242 non-null  int64
 23  fi_total_debit_account    495242 non-null  int64
 24  fi_active_credit_account  495242 non-null  int64
 25  fi_total_credit_account   495242 non-null  int64
 26  fi_active_all_account     495242 non-null  int64
 27  derogatory_record         495242 non-null  int64
 28  bankruptcy_record         495242 non-null  int64
 29  loan_category             495242 non-null  object
 30  tax_lien_record           495242 non-null  int64
 31  loan_term                 495242 non-null  object
 32  loan_title                495242 non-null  object
 33  collection_total_amount   495242 non-null  int64
 34  fi_total_all_account      495242 non-null  int64
 35  annual_income_verified    495242 non-null  object
 36  borrower_zipcode          495242 non-null  object
 37  gender                    495242 non-null  int64
 38  age                       495242 non-null  float64
dtypes: float64(5), int64(24), object(10)
memory usage: 147.4+ MB

In [15]:
# columsn that need to be dropped 
[x for x in df.columns if x not in df2.columns]

['collection_fee',
 'loan_issue_date',
 'loan_status',
 'loan_remaining_principal',
 'loan_recovery',
 'loan_total_payment',
 'loan_interest_to_date',
 'loan_late_fee_to_date',
 'loan_principal_to_date']

In [31]:
df.shape

(796759, 46)

In [32]:
df

,delinquent_accounts,borrower_state,annual_income,marital_status,default_12months,collection_fee,collections_12months,delinquent_2years,delinquent_amount,employment_length,employment_title,fico_range_high,fico_range_low,loan_amount,home_ownership,inquiries_finance,inquiries_credit_6months,loan_monthly_payment,loan_interest_rate,loan_issue_date,loan_status,fi_mortgage_account,fi_late_account,fi_active_debit_account,fi_total_debit_account,fi_active_credit_account,fi_total_credit_account,fi_active_all_account,loan_remaining_principal,derogatory_record,bankruptcy_record,loan_category,loan_recovery,tax_lien_record,loan_term,loan_title,collection_total_amount,fi_total_all_account,loan_total_payment,loan_interest_to_date,loan_late_fee_to_date,loan_principal_to_date,annual_income_verified,borrower_zipcode,gender,age
0,0,CA,42000.0,Single,0,0.0,0,0,0,10+ years,associate,719,715,12000,OWN,1.0,0.0,375.88,7.97,2018-9-22,Current,0,0,2,2,7,9,9,6688.31,1,1,debt_consolidation,0.0,0,36 months,Debt consolidation,0,16,6397.930000,1086.24,0.0,5311.69,Source Verified,923xx,1,48.0
1,0,VA,79077.0,Single,0,0.0,0,0,0,5 years,Senior Investigator,704,700,16000,RENT,0.0,0.0,501.17,7.97,2018-9-18,Current,0,2,2,2,11,11,12,8917.81,0,0,debt_consolidation,0.0,0,36 months,Debt consolidation,0,20,8511.190000,1429.00,0.0,7082.19,Not Verified,223xx,1,45.0
2,0,TX,107000.0,Married,0,0.0,0,0,0,< 1 year,Registered Nurse,789,785,33000,MORTGAGE,0.0,0.0,1022.12,7.21,2018-9-19,Current,2,0,4,19,22,38,25,17388.63,0,0,debt_consolidation,0.0,0,36 months,Debt consolidation,0,52,18371.720000,2760.35,0.0,15611.37,Verified,750xx,2,50.0
3,0,NJ,155000.0,Single,0,0.0,0,2,0,10+ years,Nurse,719,715,32000,MORTGAGE,0.0,1.0,1062.71,11.99,2018-9-8,Current,3,0,7,27,18,36,20,17427.75,0,0,credit_card,0.0,0,36 months,Credit card refinancing,0,42,19086.150000,4513.90,0.0,14572.25,Source Verified,080xx,1,56.0
4,0,TX,120000.0,Single,0,0.0,0,0,0,9 years,Driver,769,765,40000,MORTGAGE,2.0,0.0,952.65,15.05,2018-9-25,Current,4,0,4,8,7,13,12,30956.21,0,0,debt_consolidation,0.0,0,60 months,Debt consolidation,0,26,17080.810000,8037.02,0.0,9043.79,Verified,778xx,1,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796754,0,NC,150000.0,Single,0,0.0,0,0,0,10+ years,Manager,669,665,16000,RENT,1.0,0.0,362.34,12.79,2017-10-14,Paid,0,1,3,5,6,11,12,0.00,4,3,medical,0.0,0,60 months,Medical expenses,0,28,18660.607569,2660.61,0.0,16000.00,Not Verified,284xx,2,59.0
796755,0,HI,125000.0,Single,0,0.0,0,0,0,4 years,Current Operations Officer,729,725,24000,OWN,0.0,0.0,515.74,10.49,2017-10-1,Current,0,0,6,14,14,21,15,13951.43,2,0,credit_card,0.0,2,60 months,Credit card refinancing,0,22,14977.430000,4928.86,0.0,10048.57,Not Verified,967xx,2,53.0
796756,0,AL,95000.0,Single,0,0.0,0,0,0,7 years,Unit Operator,669,665,24000,MORTGAGE,1.0,0.0,543.50,12.79,2017-10-31,Current,0,0,0,3,3,11,5,14287.39,0,0,home_improvement,0.0,0,60 months,Home improvement,0,54,15760.500000,6047.89,0.0,9712.61,Source Verified,356xx,1,43.0
796757,0,UT,108000.0,Single,0,0.0,0,0,0,10+ years,Database Administrator,699,695,24000,MORTGAGE,1.0,1.0,515.74,10.49,2017-10-26,Current,4,12,5,18,19,37,24,13951.42,1,0,debt_consolidation,0.0,1,60 months,Debt consolidation,0,58,15008.530000,4959.95,0.0,10048.58,Not Verified,840xx,2,51.0
796758,0,FL,110000.0,Single,0,0.0,0,0,0,6 years,Program Manager,664,660,24000,RENT,0.0,0.0,564.56,14.49,2017-10-8,Default,2,1,5,15,8,24,10,0.00,1,1,debt_consolidation,0.0,0,60 months,Debt consolidation,0,31,6755.400000,3233.49,0.0,3521.91,Not Verified,334xx,2,35.0